@media (max-width:1920px) {
    header nav {
        width: 50%;
    }
    main .about-up {
        max-width: 1200px;
    }

    main .about-middle-inside {
        max-width: 1200px;
    }

    main .services {
        max-width: 1200px;
    }

    .choose-us .choose-us-inside {
        max-width: 1000px;
    }

    .clients h3 {
        max-width: 1200px;
    }

    .Reference {
        max-width: 1200px;
    }

    .find-us {
        max-width: 1200px;
    }

    .about-middle {
        background-size: 100%;
    }


}

@media(max-width:1340px){
    header .navbar{
        width:85% !important
    }
}


@media(max-width:900px) {
    section.about-up {
        overflow-x: scroll;
        scrollbar-width: none;
        /* Firefox için kaydırma çubuğunu gizler */
        -ms-overflow-style: none;
        /* Internet Explorer 11 için kaydırma çubuğunu gizler */
    }

    /* Webkit (Chrome ve Safari) için yatay kaydırma çubuğunu gizle */
    section.about-up::-webkit-scrollbar {
        display: none;
    }

    main .about-up ul {

        width: max-content;
    }

    main .about-up ul li {
        width: 260px;
    }

    main .about-up {
        overflow-x: scroll;
    }

    main .about-up {
        padding-top: 30px;
    }

    .choose-us .choose-us-inside ul li {
        align-items: center;
    }

    .choose-us .choose-us-inside ul {
        align-items: start;
    }

    header .navbar-nav {
        display: none;
    }

    main .design-type .design-up {
        flex-direction: column-reverse;
    }

    main {
        padding: 0px 12px;
    }

    main .design-type .design-up-right {
        width: 100%;
    }

    main .design-type .design-up .design-up-left {
        width: 100%;
    }

    main .design-type .design-up:nth-child(2) {
        flex-direction: column;
    }

    main .design-type .design-up .design-up-left {
        padding: 12px 100px;
    }

    main .about-middle .about-middle-text h3 {
        font-size: 24px;
    }

    main .about-middle .about-middle-left {
        height: 300px;
    }

    main .about-middle .about-middle-text {
        margin-left: 24px;
    }

    .footer-common .footer-headtxt {
        font-size: 20px;
    }

    .footer-inside {
        flex-direction: column-reverse;
    }

    footer img {
        width: 95px;
        height: 20px;
    }

    .footer-common .footer-right .right-first ul {
        flex-direction: column;
    }

    footer {
        padding: 0px 12px;
    }

    .footer-inside {
        padding: 12px 0px;
    }

    .footer-common .right-first ul li {
        /* margin-bottom: 14px; */
    }

    .footer-common .contactus ul li span {
        display: inline-block;
        margin-left: 8px;
    }

    .footer-lang {
        display: none;
    }

    .footer-common .sosial-media {
        margin-top: 0px;
    }

    .footer-inside .footer-left {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }

    footer .social-icons li {
        width: 42px;
        height: 42px;
    }

    footer .social-icons li a {
        font-size: 17px;
    }

    footer .social-icons .icon {
        width: 23px;
        height: 23px;

    }

    footer .social-icons li a i {
        font-size: 16px;
    }

    .footer-common .sosial-media p {
        font-size: 13px;
        font-weight: bold;
    }

    .footer-common .sosial-media p {
        font-size: 20px;
    }

    footer .contactus ul li {
        margin-bottom: 1rem;
    }

    footer .rights {
        font-size: 10px;
    }

    .find-us .find-us-img {
        flex-direction: column;
    }

    .find-right {
        margin-left: 0px;
        width: 100%;
    }

    .find-us {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .find-right {
        margin-top: 32px;
    }

    .find-us .find-left {
        height: 202px;
        width: 100%;
    }

    .Reference {
        margin-bottom: 0px;
    }

    .Reference .swiper-pagination {
        display: none;
    }

    .Reference .swiper-slide {
        width: 70%;

    }

    .Reference .card h6 {
        font-size: 18px;
    }

    .Reference p {
        font-size: 13px;
    }

    .Reference .card {
        width: 100%;
    }

    .clients .mySwiperclient .swiper-slide {
        height: 135px;
    }
}


@media(max-width:500px) {
    .right-contact {
        width: 100%;
    }

    .right-contact ul {
        width: 100%;
    }

    .right-contact ul li {
        width: 100%;
        text-align: center;

    }

    .right-contact ul li ul {
        width: 100%;
        justify-content: space-around;
    }

    .right-contact ul li ul li {
        display: flex;
        justify-content: center;
    }

    main .about-up ul li {
        width: 157px;
        margin-right: 20px;
    }

    header nav .logo {
        width: 94px;
        height: 27px;
    }

    main .design-type .design-up .design-up-left p {
        margin-bottom: 0px;
    }

    main .design-type .design-up .design-up-left .de {
        font-size: 16px;
        line-height: 19.45px;
    }

    .design-up svg {
        height: 37px;
    }

    main .about-middle .about-middle-left img {
        width: 100%;
    }

    .choose-us .choose-us-inside img {
        width: 25px;
        height: 32px;
    }

    .choose-us .choose-us-inside .icon {
        width: 58px;
        height: 58px;
        margin-bottom: 12px;
    }

    .choose-us .choose-us-inside ul li .choose-number {
        font-size: 14px;
    }

    .choose-us .choose-us-inside h3 {
        display: none;
    }

    .why-chose {
        padding: 12px;
        padding-left: 0px;
        font-family: Junge;
        font-size: 12px;
        margin-bottom: 0px;

    }

    main .about-middle .about-middle-left {
        width: 200px;
        height: 140px;
    }

    main .about-middle .about-middle-text h3 {
        font-size: 12px;
        margin-bottom: 8px;
    }

    main .about-middle .about-middle-text p {
        font-size: 8px;
    }

    main .about-middle-inside {
        padding: 0px;
        align-items: center;
    }

    main .about-middle-inside {
        margin: 25px 0px;
        margin-bottom: 0px;
        align-items: start;
    }

    .read-more-btn {
        margin-bottom: 10px;
        font-size: 6px;
    }

    main .about-up ul li svg {
        width: 33px;
        height: 16px;
    }

    main .about-up ul li h4 {
        font-size: 16px;
        margin-bottom: 0px;
    }

    main .about-up .design-name {
        margin-bottom: 8px;
    }

    main .about-up ul li p {
        margin-bottom: 0px;
        font-size: 8px;
    }

    main .services ul li {
        width: 47%;
        height: 86px;
    }

    main .services ul li img {
        width: 18px;
        height: 18px;
    }

    main .services-all {
        background-image: none;
    }

    main .services-all {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    main .services h3 {
        font-size: 12px;
    }

    .choose-us {
        padding: 18px 8px 22px 8px;
    }

    .choose-us .choose-us-inside ul li p {
        font-size: 10px;
    }

    .choose-us .choose-us-inside ul li .choose-number {
        font-size: 14px;
    }

    .clients h3 {
        font-size: 12px;
        margin: 12px auto;
    }

    .clients .mySwiperclient .swiper-slide {
        height: 45px;
    }

    .clients .mySwiperclient {
        height: max-content;
    }

    .clients .mySwiperclient .swiper-wrapper {
        padding: 20px;
    }

    .mySwiperclient .swiper-pagination {
        bottom: 0px;
    }

    .clients .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
        bottom: 0px;
    }

    .animated-btn {
        padding: 6px 9px;
        font-size: 10px;
    }

    .Reference {
        margin-top: 35px;
    }

    .reference-head h3:nth-child(1) {
        font-size: 12px;
    }

    .reference-head h3:nth-child(2) {
        font-size: 12px;
    }

    .Reference .circle-img {
        width: 41px;
        height: 41px;
    }

    .Reference .circle img {
        width: 37px;
        height: 24px;
    }

    .Reference .circle {
        width: 48px;
        height: 48px;
        top: -16px;
    }

    .Reference .card .stars {
        width: 50px;
        height: 10px;
    }

    .Reference .card h6 {
        font-size: 12px;
    }

    .Reference p {
        font-size: 8px;
    }

    .Reference .liner {
        width: 80%;
        margin: 8px 0px;
    }

    .Reference .card .card-body {
        padding: 16px;
        width: 241px;
    }

    .Reference .card .card-bottom {
        width: 40px;
        height: 40px;
    }

    .Reference .card {
        height: max-content;
    }


    .find-us-text h3 {
        font-size: 12px;
    }

    .find-us .find-left img {
        width: 180px;
        right: 10px;
        height: 126px;
        top: 20%;

    }

    .find-us-text {
        margin: 12px 0px;
        margin-bottom: 32px;
    }

    .find-right form .form-group {
        margin-bottom: 40px;
    }

    .find-us .animated-btn {
        left: 40%;
        font-size: 14px;
        text-transform: uppercase;
    }

    .footer-common .footer-right ul {
        flex-direction: column;
        justify-content: center;
    }

    .footer-right .right-first {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-common .contact-us .right-first-cont {
        flex-direction: row;
    }

    .footer-inside .footer-left .footer-logo {
        display: none;
    }

    .contactus .right-first-cont {
        display: flex;
        flex-direction: row;
    }

    .footer-common .contactus ul li span {
        display: none;
    }

    .footer-common .footer-right .right-first-cont {

        flex-direction: row;
    }

    .footer-common .sosial-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .footer-common .footer-right .right-first ul {
        flex-direction: row;
    }

    right-first-cont {
        width: 100%;
        justify-content: space-between;
    }
}